{% extends 'base.html.twig' %}

{% block titrePage %}
<h1>Ajout d'une entreprise</h1>
{% endblock %}

{% block contenuPage %}
Saisir les caractéristiques de l'entreprise que vous souhaitez partager.
{% endblock %}
