{% extends 'base.html.twig' %}

{% block contenu %}
<h1>Bienvenue sur ProStage</h1>

<p>
  Vous trouverez ci-dessous les dernières entreprises ayant proposé un stage.
</p>

<ul>
  <li>
    <a href="{{path('pro_stage_entreprises')}}">Entreprises</a>
  </li>
</ul>

<p>
  Vous trouverez ci-dessous la liste des formations à l'IUT.
</p>

<ul>
  <li>
    <a href="{{path('pro_stage_formations')}}">Formations</a>
  </li>
</ul>

<p>
  Vous trouverez ci-dessous les derniers stages proposés.
</p>

<ul>
  <li>
    <a href="{{path('pro_stage_stages', {id:1})}}">Refonte BD</a>
  </li>

  <li>
    <a href="{{path('pro_stage_stages', {id:2})}}">Vidéo Projet</a>
  </li>
</ul>

{% endblock %}
