{% extends 'base.html.twig' %}

{% block titrePage %}
<h1>Bienvenue sur ProStage</h1>
{% endblock %}

{% block contenuPage %}
<div class="list-group">
  <a href="{{path('pro_stage_entreprises')}}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        Entreprises
      </h5>
    </div>
    <p class="mb-1">
      Vous trouverez les dernières entreprises ayant proposé un stage.
    </p>
  </a>
  <a href="{{path('pro_stage_formations')}}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        Formations
      </h5>
    </div>
    <p class="mb-1">
      Vous trouverez la liste des formations à l'IUT.
    </p>
  </a>
  </div>

<h3 style="margin-top:25px">
  Stages
</h3>
<p>
  Vous trouverez ci-dessous les derniers stages proposés.
</p>

{% set debutNouvelleLigne = true %}

{% for ​​stageCourant in stages %}
{% if debutNouvelleLigne == true %}
  <div class="card-deck">
    {% set debutNouvelleLigne = false %}
  {% endif %}
  <div class="card">
    <a href="{{path('pro_stage_stage', {id:​​stageCourant.id})}}">​​
      <img src="{{asset('/images/image.jpg')}}" class="card-img-top">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{​​stageCourant.titre}} - <strong>{{​​stageCourant.entreprise.nom}}</strong></h5>
      <p class="card-text">{{​​stageCourant.description}}</p>
      <p class="card-text">
        <small class="text-muted">Déposé le {{​​stageCourant.dateDepot | date("d/m/Y")}}</small>
      </p>
    </div>
  </div>
  {% if loop.index % 3 == 0 %}
  </div>
  <br />
  {% endif %}
  {% endfor %}

{% endblock %}
