{% extends 'base.html.twig' %}

{% block titrePage %}Créer une nouvelle entreprise{% endblock %}

{% block contenuPage %}
    {{ include('entreprise/_form.html.twig') }}
    <br>
    <a href="{{ path('entreprise_index') }}">Retour à la liste des entreprises</a>
{% endblock %}
